{% extends 'blog/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}
    <div class="col-md-10">
        <h3 class="my-4"><i class="fa-solid fa-user mr-2"></i> About Page</h3>
        <p>We are dedicated to a sustainable future, providing cutting-edge energy solutions that reduce our environmental footprint and empower communities.</p>
        <p>Founded in 2010 by a group of passionate environmentalists, GreenTech Solutions has since grown into a leader in the renewable energy industry. Our journey began with a simple vision: to harness the power of technology to create a greener world Over the years, we've installed solar panels in over 10,000 homes, reducing carbon emissions by 50,000 tons annually. We've received recognition for innovation and sustainability, including the 2022 Green Energy Excellence Award. Our team of engineers, designers, and eco-enthusiasts collaborates tirelessly to develop efficient and eco-friendly energy solutions. Our diverse backgrounds and unwavering commitment drive our success.</p>
    </div>
{% endblock content %}