<nav class="navbar navbar-expand-lg navbar-dark special-color-dark p-3">
	<a class="navbar-brand" href="#">MyBlogs</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item {{ home }}">
				<a class="nav-link" href="/">
					<i class="fa-solid fa-house"></i>
					Home <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item {{ about }}">
				<a class="nav-link" href="{% url 'about' %}">
					<i class="fa-solid fa-user"></i>
					About
				</a>
			</li>
			<li class="nav-item {{ contact }}">
				<a class="nav-link" href="{% url 'contact' %}">
					<i class="fa-solid fa-paper-plane"></i>
					Contact
				</a>
			</li>

			{% if request.user.is_authenticated %}
				<li class="nav-item {{ dashboard }}">
					<a class="nav-link" href="{% url 'dashboard' %}">
						<i class="fa-solid fa-layer-group"></i>
						Dashboard
					</a>
				</li>
				<li class="nav-item {{ logout }}">
					<a class="nav-link" href="{% url 'logout' %}">
						<i class="fa-solid fa-right-from-bracket"></i>
						Logout
					</a>
				</li>
			{% else %}
				<li class="nav-item {{ signup }}">
					<a class="nav-link" href="{% url 'signup' %}">
						<i class="fa-solid fa-user-pen"></i>
						Signup
					</a>
				</li>
				<li class="nav-item {{ login }}">
					<a class="nav-link" href="{% url 'login' %}">
						<i class="fa-solid fa-right-to-bracket"></i>
						Login
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
